<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define MainExe="ChocolateyGui.exe"?>
  <?define GuiTargetPath="$(var.GuiTargetDir)\$(var.MainExe)"?>
  <?define Version=!(bind.fileVersion.$(var.MainExe))?>
  <?define CompanyDirectoryName="Semight Instruments"?>
  <?define ProductDirectoryName="PackageManager"?>
  <?define Manufacturer="$(var.CompanyDirectoryName)"?>
  <?define ProductName="$(var.Manufacturer) Package Manager"?>
  <?define Language="1033"?>

  <Product Id="*" Name="$(var.ProductName)" Language="$(var.Language)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="2f8dcb25-5f34-4c8b-9f4a-3f3fc895f9a2">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
    <SetProperty Id="CHOCOLATEY_INSTALL" Value="$(env.ChocolateyInstall)" Before="LaunchConditions" Sequence="first" />


    <Condition Message="This application requires .NET Framework 4.8. Please install the .NET 4.8 Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED]]>
    </Condition>

    <Condition Message="This application only runs in Windows 7 SP1 or later.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <Condition Message="Chocolatey must already be installed.">
      <![CDATA[CHOCOLATEY_INSTALL]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <?if $(var.Configuration) = "Debug"?>
    <MediaTemplate EmbedCab="yes" CompressionLevel="none" />
    <?else?>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <?endif?>

    <Icon Id="icon.ico" SourceFile="$(var.GuiProjectFolder)\packagemanagericon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="Semight Instrument Package Manager" Level="1">
      <ComponentGroupRef Id="ChocolateyExe" />
      <ComponentGroupRef Id="ApplicationContent" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="CreateAppDataFolder" />
      <ComponentRef Id="CreateAppDataConfigFolder" />
      <ComponentRef Id="CreateUserAppDataFolder" />
      <MergeRef Id="VCRedist" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsVolume" Name=".">
        <Directory Id="SEMIGHTINSTALLROOT" Name="$(var.CompanyDirectoryName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductDirectoryName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Component Id="ApplicationShortcut" Guid="C5D1CA26-CC63-477F-8C79-4A8665E2735A">
          <Shortcut Id="ApplicationStartMenuShortcut" Advertise="no"
            Name="Semight Instrument Package Manager"
            Description="GUI package manager"
            Target="[INSTALLFOLDER]ChocolateyGui.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="icon.ico" />
        </Component>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppStuff" Name="$(var.CompanyDirectoryName)">
          <Component Id="CreateAppDataFolder" Guid="8EAA63CB-2B35-4D32-9A9B-6E4746B88C5D">
            <CreateFolder>
              <Permission User="Everyone" GenericAll="yes" />
            </CreateFolder>
          </Component>
          <Directory Id="CommonAppDataPackageManager" Name="$(var.ProductDirectoryName)">
            <Directory Id="CommonAppDataConfig" Name="Config">
              <Component Id="CreateAppDataConfigFolder" Guid="2D5787E2-2D53-41EF-8C10-52AC6BA66AD9">
                <CreateFolder>
                  <Permission User="Administrators" GenericAll="yes" />
                  <Permission User="Everyone" GenericRead="yes" GenericExecute="yes" />
                </CreateFolder>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="UserAppRoot" Name="$(var.CompanyDirectoryName)">
          <Directory Id="UserAppStuff" Name="$(var.ProductDirectoryName)">
            <Component Id="CreateUserAppDataFolder" Guid="13AC2D4E-C865-4E88-BCBC-7D43C1844C5E">
              <CreateFolder />
              <RemoveFolder Id="UserAppStuff" On="uninstall" />
              <RemoveFolder Id="UserAppRoot" Directory="UserAppRoot" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Merge Id="VCRedist" SourceFile="Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ChocolateyExe" Directory="INSTALLFOLDER">
      <Component Id="ChocolateyGui.exe" Guid="A9A3FBA0-2EF5-4CB2-AFA2-BDD8346FC907">
        <File Id="ChocolateyGui.exe" Source="$(var.GuiTargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.exe.config" Guid="42D12A57-EC6A-458A-B051-9503566D4CA4">
        <File Id="ChocolateyGui.exe.config" Source="$(var.GuiTargetDir)/ChocolateyGui.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.Common.dll" Guid="2D0E3E2F-C4D3-44CB-AE0E-B8E8EE1A6BDF">
        <File Id="ChocolateyGui.Common.dll" Source="$(var.GuiTargetDir)/ChocolateyGui.Common.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.Common.Windows.dll" Guid="2F85EF8E-9475-4685-BCC0-7A889A4B6B7E">
        <File Id="ChocolateyGui.Common.Windows.dll" Source="$(var.GuiTargetDir)/ChocolateyGui.Common.Windows.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGuiCli.exe" Guid="4F384BF9-5D78-47D9-B0CB-E239F7646217">
        <File Id="ChocolateyGuiCli.exe" Source="$(var.GuiCliTargetDir)/ChocolateyGuiCli.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGuiCli.exe.config" Guid="5BA4A44B-0A4E-47AF-865B-DFB36815D85D">
        <File Id="ChocolateyGuiCli.exe.config" Source="$(var.GuiCliTargetDir)/ChocolateyGuiCli.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.exe.manifest" Guid="0DA0F58B-3DF4-4E8D-AD7A-C49A0EF4140B">
        <File Id="ChocolateyGui.exe.manifest" Source="$(var.GuiTargetDir)/ChocolateyGui.exe.manifest" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>